* {
  color: white;
  font-family: Verdana;
  text-align: center;
}

body {
  background-color: black;
}

/* header */
.header {
  font-size: 50px;
  font-weight: normal;
}

/* main */
a {
  color: aquamarine;
  font-size: 16px;
}

.heading {
  font-size: 42px;
  font-weight: 300;
}

.note {
  color: gray;
  font-size: 21px;
}

/* footer */
.copiright {
  color: gray;
  text-align: right;
  font-size: 21px;
}
